
.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}

button {
  background-color: #194577;
  border: 0.1rem solid #0c78c3;
  color: white;
}

.flag {
  padding: 2px;
}

.flag-border {
  padding: 1px;
  border: 1px solid red;
}

/* kdam-thmor-pro-regular - latin */
@font-face {
  font-family: 'Kdam Thmor Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./font/kdam-thmor-pro-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/kdam-thmor-pro-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/kdam-thmor-pro-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/kdam-thmor-pro-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/kdam-thmor-pro-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/kdam-thmor-pro-v1-latin-regular.svg#KdamThmorPro') format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./font/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

h1 {
  font-family: "Kdam Thmor Pro";
  color: rgb(16, 163, 212);
}

h2,
h3,
h4 {
  font-family: "Noto Sans";
  color: rgb(96, 96, 96);
}

a {
  color: rgb(48, 48, 48);
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 0 2px;
  }

  .row .column.column-offset {
    margin-left: 0%;
  }

  .center {
    margin: 0;
  }

  div.center {
    margin-left: 0;
  }

  canvas {
    margin: 0;
  }
  h1,
  a,
  h3,
  h4 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  .row .column.column-left {
    flex: 0 0 25%;
    max-width: 50%;
  }
  .row .column.column-right {
    flex: 0 0 25%;
    max-width: 50%;
  }
  .row .column.column-center {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .row .column.column-offset {
    margin-left: 25%;
  }
  .center {
    margin: auto;
  }
  div.center {
    margin-left: auto;
    margin-right: auto;
  }
  canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
  }
  h1,
  a,
  h3,
  h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .row .column.column-left {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row .column.column-right {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row .column.column-center {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
